.nav_black{
    background-color: #35383b;
}

.avatar{
    width: 200px;
}

.large{
    width: 100%;
    border-radius: 8px;
}
 
.form-zone{
    height: 300px;
}

/* SETTING ICON FONTAWESOME*/
.star_white .fas, .star .far{
    color: white;
}

.star_black .fas, .star_black .far{
    color: black;
}

.fab{
    padding: 5px;
    border-radius: 50px;
    border: 1px solid white;
}

/* SETTING BORDER */
.border_bottom_white{
    border-bottom: 3px solid white;
    width: 100px;
}

.border_bottom_black{
    border-bottom: 3px solid black;
    width: 100px;
}

/* SETTING BG E COLOR-TEXT */
.green{
    background-color: #66CDAA;
}

.white-text{
    color: white;
}

.black-text{
    color: black;
}

.green-text{
    color: #66CDAA;
    font-weight: bold;
}

.light-gray{
    background-color: #2d4e6b;
}

.gray{
    height: 80px;
    background-color: #35383b; 
}

/* CLASS BUTTON E INPUT */
.button_download, .button_submit{
    width: 150px; 
    background-color: #66CDAA;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.button_submit{
    width: 50px;
    border: none;
}

input[type="text"], textarea{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
}

