.navbar{
    height: 80px;
    background-color: #778899;
}

.avatar{
    width: 200px;
}

.green{
    background-color: #66CDAA;
}

.white-text{
    color: white;
}

.green-text{
    color: #66CDAA;
    font-weight: bold;
}

.large{
   width: 100%;
   border-radius: 8px;
}

.form-zone{
    height: 300px;
}

.light-gray{
    background-color: #2d4e6b;
}

.gray{
    height: 80px;
    background-color: #778899; 
}